div.tooltip {
  color: white;
  position: absolute;
  text-align: center;
  padding: 5px 10px;
  font: 15px sans-serif;
  background: #855cf8;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
