div.tooltip {
  color: white;
  position: absolute;
  text-align: center;
  width: 200px;
  height: 40px;
  padding: 2px;
  font: 15px sans-serif;
  background: #855cf8;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
