# Misc
.vscode/*
**/.DS_Store

# Frontend - See ./frontend/.gitignore

# Backend
backend/__pycache__
backend/venv
Week3_Onwards/.ipynb_checkpoints/Data_Preprocessing_and_Plots-checkpoint.ipynb
Week3_Onwards/.ipynb_checkpoints/Decision tree trial -checkpoint.ipynb
Week3_Onwards/Data_Preprocessing_and_Plots.ipynb
Week3_Onwards/Data_Preprocessing_and_Plots.ipynb
