.App {
  text-align: center;
}

/* @import url(); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home,
.companies,
.investments,
.settings {
  margin-top: 10%;
  text-align: center;
  font-size: 2rem;
}
